<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>管理员列表</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/static/admin/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/static/admin/css/admin-lst.css">
<script type="text/javascript" src="__PUBLIC__/static/admin/js/admin-delete.js"></script>
</head>
<body>

<h1>欢迎来到夜夜撸后台管理</h1>
<hr />

{include file="public/top"}

{include file="public/left"}

<div id="admin-content" style="background-color:yellow">
	<p><a href="add">+新增管理员</a></p>
	
	<div id="admin-list">
		<p>这里是管理员管理的列表栏目</p>
		<table>
			<tbody>
				<tr>
					<th width="3%">ID</th>
					<th>姓名</th>
					<th width="10%">操作</th>
				</tr>
				{volist name="adminres" id="vo"}
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.username}</td>
					<td>
						<a href="{:url('edit',['id' => $vo.id])}">修改</a>&nbsp&nbsp
						<a href="{:url('delete',['id' => $vo.id])}" onclick="return isdelete()">删除</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>

</body>
</html>