<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/index/css/image-play.css">
<title>尽情勃起吧</title>

</head>

<body>
<div id="html">
	
	{include file="public/header"}

	<div id="content">

		{include file="public/classfiy"}
		
		<div id="play-title">
			<p>标题 >> {$imageplay.title}</p>
		</div>

		<div id="play">
			{for start = "0" end = "$filenum"}
				<p><img src="__PUBLIC__/{$fileArr[$i]}"></p>
			{/for}
		</div>

	</div>

	{include file="public/footer"}

</div>
</body>
</html>
